/*** large device only***/
@media (min-width: 1200px){
  body{
    width:80%;
  }
}
body{
    background-color: pink;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    text-transform: capitalize;
    margin: 2px;
    padding: 3px;
}
  a:link, a:visited {
    text-decoration: none;
    background-color: rgb(1, 255, 107);
    border: 1px solid blue;
    color:black;
    width: 200px;
    text-align:center;
    margin-bottom: 1px;
    display: block;
  }

  a:hover, a:active{
    background-color: red;
    color: purple;
  }
  header li:nth-child(1){
    font-size: 24px;
  }
  #box{
    background-color: grey;
    padding: 10px 10px 10px;
    border: 3px;
    margin: 40px;
    width: 300px;
    height: fit-content;
  }
  
  
  div {
    background-color: #00FFFF;
  }
  p {
    width: 50%;
    border: 1px solid black;
    margin-right: 10px;
    float: left;
  }
  
  #p1 {
    background-color: #A52A2A;
    float: left;
    height: 50%;
  }
  #p2 {
    background-color: #DEB887;
    float: left;
    height: 50%;
  }
  #p3 {
    background-color: #5F9EA0;
    clear:both;
    height: 50%;
  }
  #p4 {
    background-color: #FF7F50;
    height: 50%;
    clear: left;
  }
  section{
    clear: left;
  }